<div class="container22">
<div id="content">


 <div id="content-header">
    
    <h1>Request Leave </h1>
  </div>

 <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-pencil"></i> </span>
            <h5>Request Leave</h5>
          </div>
          <div class="widget-content nopadding">
            <%= form_for( @request_leave, :url => {:action => "apply_leave"}, :html => {'class' => 'form-horizontal'}) do |f| %>
           
              <div id="form-wizard-1" class="step">
                <div class="control-group">
                  <label class="control-label">Name</label>
                  <div class="controls">

                    <input id="username" type="text" readonly name="username" value="<%= current_user.first_name.capitalize %>" />

                  </div>
                </div>


                <div class="control-group">
                  <label class="control-label">Leave from</label>
                  <div class="controls">
                    <input type="text" name="dated_from" id="datepicker" required /> 
                  </div>
                </div>



                <div class="control-group">
                  <label class="control-label">Subject</label>
                  <div class="controls">
                    <input id="subject" type="text" name="subject" required />
                    
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Message</label>
                  <div class="controls">
                     <textarea name="message" placeholder="Enter message here..." required></textarea> 
                  </div>
                </div>

              </div>
              
              <div class="form-actions">
               
                <%= f.submit "Submit",:class=> 'btn btn-primary' %>
               
              </div>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


<section class="statistics">
          <div class="container-fluid">
            <div class="row-fluid" style="align-items: center;">
              <div class="span6">
                <div class="box">
                  <i class="fa fa-envelope fa-fw btn-primary"></i>
                  <div class="info">
                    <h3><%= @employe_leaves.present? ? 12 - @employe_leaves.to_i : 12 %></h3> <span>Remaining</span>
                    <p>Total leaves remaining</p>
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="box">
                  <i class="fa fa-file fa-fw btn-danger"></i>
                  <div class="info">
                    <h3><%= @employe_leaves.present? ? @employe_leaves.to_i : 0 %>  </h3> <span> Leaves</span>
                    <p>Total leaves taken</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>



<div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Applied Leaves</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  
                  <th>Id</th>
                  <th>Subject</th>
                  <th>Message</th>
                  <th>Leave from</th>
                  <th>Leave to</th>
                  <th>Leave Count</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <% @all_leaves.each do |cc| %>
                <tr class="odd gradeX">
                  <td><%=cc.id %></td>
                  <td><%=cc.subject %></td>
                  <td><%= cc.message %></td>
                  <td class="center"><%= cc.date_from.strftime("%b  %d ,  %Y") %></td>
                  <td class="center"><%= cc.date_to.strftime("%b  %d ,  %Y") %></td>
                  <td><%= cc.leave_count %></td>
                   <td class="center padd_2"><p class="badge <%= cc.status.nil? ? 'badge-warning' : cc.rejected? ? 'badge-important' : cc.approved? ? 'badge-success' : '' %>"><%= cc.status.nil? ? 'Pending' : cc.status.capitalize %></p></td> 
                 
                  <td> 
                    <% if cc.status == nil %>
                    <div class="center icons_leave">  <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_apply_leave_path(:uid=>cc.user_id, :lid=>cc.id), method: :post,remote: true %> 
                    <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, remove_apply_leave_path(cc.id),title: "Delete", method: :delete, data: {confirm: "Are you sure?"} %>
                     </div>
                     <% end %>

                   </td>


                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>

</div>
</div>
 

 <div class="modal hide" id="myModal22">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Request leave</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body request_leave_data">
         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          
        </div>
        
      </div>
    </div>
  </div>
  

</div>


    
<script type="text/javascript">
   var picker = new Lightpick({
    field: document.getElementById('datepicker'),
    singleDate: false,
    minDate: moment(),
    format: 'YYYY-MM-DD',
    autoApply: true,
    onSelect: function(start, end){
        var str = '';
        str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
        str += end ? end.format('Do MMMM YYYY') : '...';
        document.getElementById('datepicker').innerHTML = str;
         
    }
});
  
</script> 