<!--<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>-->

<%#= render "users/shared/links" %>



<div class="main">

        <!-- Sign up form -->
        <!--<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/assets/signup-image.jpg" alt="sing up image"></figure>
                         <%#= link_to "I am already employe", "/users/sign_in",:class => "signup-image-link" %>

                           <%#= link_to "Sign Up", "/users/sign_up",:class => "nav-link navbar-brand nav-font" %>-->
                        <!--<a href="#" class="signup-image-link">I am already employe</a>-->
                    <!--</div>
                </div>
            </div>
        </section>-->

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/assets/signin-image.jpg" alt="sing up image"></figure>
                        
                        <%= link_to "Sign Up", "/users/sign_up",:class => "signup-image-link" %>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {'class' => 'register-form'}) do |f| %>
                       
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder=>"Your Email" ,:required=> 'true'%>
                                
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <%= f.password_field :password, autocomplete: "current-password",:placeholder=>"Password",:required=> 'true' %>
                                
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                              <%= f.submit "Log in" ,:class=>"form-submit"%>
                                
                            </div>
                        <% end %>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>