<!--<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>




<div class="main">-->

        <!-- Sign up form -->
        <!--<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/assets/signup-image.jpg" alt="sing up image"></figure>
                         <%#= link_to "I am already employe", "/users/sign_in",:class => "signup-image-link" %>

                           <%#= link_to "Sign Up", "/users/sign_up",:class => "nav-link navbar-brand nav-font" %>-->
                        <!--<a href="#" class="signup-image-link">I am already employe</a>-->
                    <!--</div>
                </div>
            </div>
        </section>-->

    



        <div id="loginbox" class="margin_top">  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {'id' =>'loginform', 'class' => 'form-vertical'}) do |f| %>          
            
                 <div class="control-group normal_text"> <h3><img src="/assets/newlogo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "username" %>
                            
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                              <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                   
                    <span class="pull-left"><a href="javascript:void(0)" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
                    <span class="pull-right">
                            <%= f.submit "Log in",:class=>"btn btn-success" %>
                        </span>
                </div>
            <% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {'id'=>"recoverform",'class'=>'form-vertical', method: :post }) do |f| %>
            
                <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
                <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "E-mail address" %>

                            
                        </div>
                    </div>
               
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>

                     <span class="pull-right"><%= f.submit "Recover", class: 'btn btn-info' %></span>

                    
                </div>
            
<% end %>



            
        </div>
        <%#= render "users/shared/links" %>
 <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%#= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>



