

<div class="main">

<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <%= form_for( @user, :url => {:action => "users",:controller => "registrations"}, :html => {'class' => 'register-form'}) do |f| %>
                        <%#= form_for(@user, :html => {'class' => 'register-form'}) do |f| %>
                         <%#= render "users/shared/error_messages", resource: resource %>
                        
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                
                                <%= f.text_field :name, autofocus: true, placeholder: 'Your Name' %>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                 <%= f.email_field :email, autofocus: true, placeholder: 'Your Email' %>
                               
                            </div>
                            <!--<div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>-->
                            <div class="form-group form-button">
                              <%= f.submit "Sign up",:class=> 'form-submit' %>
                                
                            </div>
                        <% end %>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/assets/signup-image.jpg" alt="sing up image"></figure>
                         <%= link_to "I am already employe", "/users/sign_in",:class => "signup-image-link" %>

                           <%#= link_to "Sign Up", "/users/sign_up",:class => "nav-link navbar-brand nav-font" %>
                        <!--<a href="#" class="signup-image-link">I am already employe</a>-->
                    </div>
                </div>
            </div>
        </section>
      </div>