


<div id="loginbox" class="margin_top"> 
  <center><h3 class="color_white">Change your password</h3></center>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {'class' => 'form-vertical', method: :put }) do |f| %> 
        <%#= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {'id' =>'loginform', 'class' => 'form-vertical'}) do |f| %>          
            <%= render "users/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
                 <div class="control-group normal_text"> <h3><img src="/assets/newlogo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-lock"> </i></span>
                            <%= f.password_field :password, autocomplete: "new-password",placeholder: 'New-Password' %>
                            
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                             <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'New-Password' %>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                   
                    <span class="pull-left"><%= f.submit "Change my password",:class=>"btn btn-success" %></span>
                    <span class="pull-right">
                            <%= link_to "Back", :back,:class=>"btn btn-info" %>
                        </span>
                </div>
            <% end %>

            
        </div>