<div class="containerss">
	<div id="content">
		<div id="content-header">
			<div class="row-fluid">
				<div class="span6">
					<h1>Attendence</h1>
				</div>
			</div>
  		</div>

  		<hr>
		<section class="statistics">
			<div class="container-fluid">
					<div class="row-fluid" style="align-items: center;">
						  <div class="span4">
						    <div class="box">
						      <i class="fa fa-envelope fa-fw btn-primary"></i>
						      <div class="info">
						        <h3><%= @present_employes.count %></h3> <span> Present</span>
						        <p>Employes Present</p>
						      </div>
						    </div>
						  </div>
						  <div class="span4">
						    <div class="box">
						      <i class="fa fa-file fa-fw btn-danger"></i>
						      <div class="info">
						        <h3>1</h3> <span>Half-day</span>
						        <p>Lorem ipsum dolor sit amet</p>
						      </div>
						    </div>
						  </div>
						  <div class="span4">
						    <div class="box">
						      <i class="fa fa-users fa-fw btn-success"></i>
						      <div class="info">
						        <h3>1</h3> <span>leave</span>
						        <p>Lorem ipsum dolor sit amet</p>
						      </div>
						    </div>
						  </div>
					</div>
			</div>
		</section>

		<div class="container-fluid">
			<div class="row-fluid">

				<!-- Employee Table Span -->
				<div class="span12">
					<div class="widget-box">
				        <div class="widget-title">
				        	<span class="icon"> <i class="icon-th"></i> </span>
				            <h5>Daily Attendence table</h5>
				        </div>
				        <div class="widget-content nopadding">
				        	
				          	<table class="table table-bordered table-striped">	
				          		<thead>
									<tr>
										<th>Id</th>
										<th>Employee Name</th>
										<th>Working Day (current month)</th>
										<th>Punch In</th>
			                            <th>Punch Out</th>
										<th>Status</th>
										<th>Action</th>
										
									</tr>
								</thead>
								<%@users.each do |user|%>
								<tbody>
									<tr class="odd gradeX">
										<td><%=user.employee_id%></td>
										<td><%= link_to user.first_name.capitalize, attendance_employe_path(user.id) %></td>
										<td><%= user.working_days(user.id)%></td>
										<td><%= user.today_punch_in(user.id)%> </td>
										<td><%= user.today_punch_out(user.id)%></td>
										<td class="<%= user.daily_punched_status(user.id) == 'Present' ? 'font-green' : ''%>"><%= user.daily_punched_status(user.id)%></td>
										<td><%= link_to '<i class="icon-pencil"></i>'.html_safe, popup_edit_punch_path(:user_id=>user.id), method: :post,remote: true, class: "btn btn-primary" %> </td>
										
									</tr>
								</tbody>
								<%end%>
								<tfoot>
									<tr>
										
									</tr>
								</tfoot>
							</table>			          	
			          	</div>
						<div class="modal" id="popup_edit_attendence">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title center">Update Attendance</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body punch_edit_popup">
           
        </div>
        
        <!-- Modal footer -->
        
        
      </div>
    </div>






</div>	

			          	

			      	</div>
			  	</div>
			</div>
		</div>
  	</div>
</div>


<script type="text/javascript">

$('#popup_edit_attendence').hide();

var modal = document.getElementById("popup_edit_attendence");

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}




</script>
