<div class="container11">
	<div id="content">
		<div id="content-header">
			<div class="row-fluid">
				<div class="span6">
					<h1>Admin Dashboard</h1>
				</div>

				<!-- Create New User Span -->
				<div class="span6">
					<!-- <a class="user_button" href=""> -->
						<%= link_to '<i class="fa fa-user-plus item"></i>
						<div class="create_new_user item">Create new User</div>'.html_safe,new_user_path,class: 'user_button' %>  					
  					<!-- </a> -->
				</div>
			</div>
			
  		</div>
  		<hr>


  		<section class="statistics">
	        <div class="container-fluid">
	          <div class="row-fluid" style="align-items: center;">
	            <div class="span4">
	              <div class="box">
	                <i class="fa fa-envelope fa-fw btn-primary"></i>
	                <div class="info">
	                  <h3>1</h3> <span>Request</span>
	                  <p>Lorem ipsum dolor sit amet</p>
	                </div>
	              </div>
	            </div>
	            <div class="span4">
	              <div class="box">
	                <i class="fa fa-file fa-fw btn-danger"></i>
	                <div class="info">
	                  <h3>132</h3> <span>Total leaves</span>
	                  <p>Lorem ipsum dolor sit amet</p>
	                </div>
	              </div>
	            </div>
	            <div class="span4">
	              <div class="box">
	                <i class="fa fa-users fa-fw btn-success"></i>
	                <div class="info">
	                  <h3><%=@users.count%></h3> <span>Employees</span>
	                  <p>Lorem ipsum dolor sit amet</p>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
      	</section>

  		<!-- Employee -->
  		<div class="container-fluid">
			<div class="row-fluid">

				<!-- Employee Table Span -->
				<div class="span12">
					<div class="widget-box">
			          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
			            <h5>Employees table</h5>
			          </div>
			          <div class="widget-content nopadding">
			          	<table class="table table-bordered table-striped">	
			          		<%= render partial: 'employees' %>
							<tfoot>
								<tr>
									<td colspan="9" style="text-align: center;">
										<%= link_to 'View all', employees_path%>
									</td>
								</tr>
							</tfoot>
						</table>			          	
			          </div>
	        		</div>
				</div>
			</div>
		</div>

		<hr>


		<section class="admins">
	        <div class="container-fluid">
	        	
	          	<div class="row-fluid check">
	          		
		            <div class="span6" >
		            	<h3>Admins:</h3>	
			            <div class="box" style="justify-content: center;">
			                	
			                	<div class="admin">
			                  		<div class="img">
			                    		<img class="img-responsive" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance" alt="admin">
			                  		</div>
			                  		<div class="info">
			                    		<h3>Joge Lucky</h3>
			                    		<p>Lorem ipsum dolor sit amet.</p>
			                  		</div>
			                	</div>
						</div>
		            	<div class="box">
			                <div class="admin">
			                  	<div class="img">
			                    	<img class="img-responsive" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907137/small/1501685404/enhance" alt="admin">
			                  	</div>
			                  	<div class="info">
			                    	<h3>Joge Lucky</h3>
			                    	<p>Lorem ipsum dolor sit amet.</p>
			                  	</div>
			                </div>
		            	</div>
		            </div>

		            <div class="span6">
						<div class="widget-box">
          					<div class="widget-title"> 
          						<span class="icon"> <i class="icon-th"></i> </span>
            					<h5>General Holdays</h5>
          					</div>
          					<div class="widget-content nopadding">
          						<section class="statistics">
          							<div class="container-fluid">
            							<center>
            								<button type="button" class="btn btn-primary center padd_5" data-toggle="modal" data-target="#holidaymodal">
    											<i class="icon-plus"></i> Add New Holiday
   										 	</button>
   										 </center>

           								<% @general_holidays.each do |dd| %> 	
           								<div class="row-fluid">
           								<div class="span2"></div>
           								<div class="span8 holiday_general">
           									<div class="box bg_lblue">
                  								<div class="span4 dated_general">
                  									<h3><%= dd.date.strftime("%b  %d") %></h3>
                  									<p></p><%= dd.date.strftime("%A ") %>
                  								</div>
                  								<div class="span8 dated_occasion">
                  									<h4><%= dd.occasion.capitalize %></h4>
                  								</div>
                							</div>
              							</div>
              							<div class="span2"></div>
              							</div>
        								<% end %>
        							</div>
      							</section>
          					</div>
          				</div>
          			</div>
          		</div>
          	</div>

			<div class="modal" id="holidaymodal">
    			<div class="modal-dialog">
      				<div class="modal-content">
				        <!-- Modal Header -->
				        <div class="modal-header">
				        	<%if @user_role.master_role_id == 1	%>
				          		<h4 class="modal-title center">Add New Holiday</h4>
				          		<button type="button" class="close" data-dismiss="modal">&times;</button>
				          		<%end%>
				        </div>
				        <!-- Modal body -->
				        <div class="modal-body">
				        	<%= form_tag({ action: "add_new_holiday"}, class: 'form-horizontal' , method: "post") do  %>
				        	<div class="control-group">
                  				<label class="control-label">Date</label>
                  				<div class="controls">
                    				<input type="date" name="holiday_date" >
                    			</div>
                    		</div>
                    		<div class="control-group">
                    			<label class="control-label">Occasion Name</label>
                    			<div class="controls">
                    				<input type="text" name="occasion_name">
                    			</div>
                    		</div>
                    		<div class="form-actions">
                    			<button type="submit" class="btn btn-primary">Submit</button> 
                				<%#= f.submit "Submit",:class=> 'btn btn-primary' %>
                			</div>
                			<% end %>
        				</div>
        
        				<!-- Modal footer -->
        			</div>
        		</div>
        	</div>
        </section>

  		



	</div>


</div>

<script type="text/javascript">
	
var modal = document.getElementById("holidaymodal");
 var span = document.getElementsByClassName("close")[0];
$('#holidaymodal').hide();
 span.onclick = function() {
   modal.style.display = "none";
 }


</script>
