<% if @show_attendance.present? %>

<table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Day</th>
                  <th>Present</th>
                  <th>Punch in</th>
                  <th>Punch out</th>
                  <th>Working Hour</th>
                  <%= @user_role.master_role_id.to_i == 1 ? '<th>Action</th>'.html_safe : '' %>
                </tr>

              </thead>
              <tbody>
                <% @show_attendance.each do |cc| %>
                <tr class="odd gradeX">
                  <td><%=cc.created_at.strftime("%b  %d ,  %Y") %></td>
                  <td><%=cc.created_at.strftime("%A ") %></td>
                  <td><%= cc.master_attendance_status.status.capitalize %></td>
                  <td class="center"><%= cc.punch_in.present? ? cc.punch_in.strftime("%I : %M  %P") : 'Not Punch in' %></td>
                  <td class="center"><%= cc.punch_out.present? ? cc.punch_out.strftime("%I : %M  %P") : 'Not Punch out' %></td>
                  <td class="center"> 
                    <% if cc.punch_in.present? && cc.punch_out.present? %>
                      <% total_time =  (cc.punch_out.to_time - cc.punch_in.to_time)  %>
                      <%= Time.at(total_time).utc.strftime("%kh:%M min") %>
                    <% else %>
                      <%= "Not Punched" %>
                    <% end %>
                </td>
               <% if @user_role.master_role_id.to_i == 1 %> 
               <td> <%= link_to "<i class='icon-pencil'></i>".html_safe, popup_edit_punch_path(:user_id=>cc.user_id, :atend_id=> cc.id ), method: :post,remote: true, class: 'btn btn-primary',:onclick=>"change_attendanceFunction()" %> </td>
               <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>

   <% else %>
    <div class="container">
        <h4 class="center">Sorry! No data available for this month.</h4>  
    </div>

<% end %>  
