

<thead>
		<tr>
			
			<th>Employee Id</th>
			<th>Email</th>
			
			<th>Name</th>
			
			<th>Punch In</th>
			<th>Punch Out</th>
			<th>Status</th>

			<th>Action</th>
			
		</tr>
</thead>
<tbody>
<% @users.each do |user|%>
	
	<!-- get user today attendence for show to admin -->
	
	<% @today_attendence = DailyAttendance.find_by(:user_id => user.id,
		created_at: Date.today.all_day)	%>
	<tr class="odd gradeX">
		<td><%=user.id%></td>
		<td><%= user.email %></td>
		<td><%= user.first_name ? user.first_name.capitalize : '' %></td>
		<td><%= @today_attendence ? @today_attendence.punch_in ?
		 @today_attendence.punch_in.strftime("%I:%M %P") : 'not punched' : 'not punched' %></td>
		<td><%=@today_attendence ? @today_attendence.punch_out ?
		  @today_attendence.punch_out.strftime("%I:%M %P") : 'not punched' : 'not punched' %></td>
		<td class="<%= user.daily_punched_status(user.id) == 'Present' ? 'font-green' : ''%>"><%=@today_attendence ? @today_attendence.master_attendance_status.status ? @today_attendence.master_attendance_status.status.capitalize : 'not marked' : ' not marked'%>
		</td>
		<td>
		
			<%= link_to '<i class="icon-pencil"></i>'.html_safe, popup_edit_punch_path(:user_id=>user.id), method: :post,remote: true, class: "btn btn-primary" %> 
			<!-- <a href=""  class="btn btn-primary js-open-modal" 
			data-modal-id="popup_edit_attendence"
			data-user-id = <%=user.id%>    >
				<i class="fa fa-pencil-square" aria-hidden="true"></i>
			</a> -->
		</td>
	</tr>
<% end %>

</tbody>





<script type="text/javascript">
	
var modal = document.getElementById("popup_edit_attendence");

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}




</script>


