

<thead>
		<tr>
			
			<th>Employee Id</th>
			<th>Avatar</th>
			
			<th>Name</th>
			
			<th>Punch In</th>
			<th>Punch Out</th>
			<th>Status</th>

			<th>Action</th>
			
		</tr>
</thead>
<tbody>
<% @users.each do |user|%>
	
	<!-- get user today attendence for show to admin -->
	
	<% @today_attendence = DailyAttendance.find_by(:user_id => user.id,
		created_at: Date.today.all_day)	%>
	<tr class="odd gradeX">
		<td><%=user.id%></td>
		<td><%#= link_to image_tag(user.image_url(:thumb).to_s, alt: "Image not found"), user_profile_path(user.id) %></td>
		<td><%= user.first_name ? user.first_name.capitalize : '' %></td>
		<td><%= @today_attendence ? @today_attendence.punch_in ?
		 @today_attendence.punch_in.strftime("%I:%M %P") : 'not punched' : 'not punched' %></td>
		<td><%=@today_attendence ? @today_attendence.punch_out ?
		  @today_attendence.punch_out.strftime("%I:%M %P") : 'not punched' : 'not punched' %></td>
		<td><%=@today_attendence ? @today_attendence.master_attendance_status.status ? @today_attendence.master_attendance_status.status.capitalize : 'not marked' : ' not marked'%>
		</td>
		<td>
		
			<%= link_to '<i class="icon-pencil"></i>'.html_safe, popup_edit_punch_path(:user_id=>user.id), method: :post,remote: true, class: "btn btn-primary" %> 
			<!-- <a href=""  class="btn btn-primary js-open-modal" 
			data-modal-id="popup_edit_attendence"
			data-user-id = <%=user.id%>    >
				<i class="fa fa-pencil-square" aria-hidden="true"></i>
			</a> -->
		</td>
	</tr>
<% end %>

</tbody>





<script type="text/javascript">
	
var modal = document.getElementById("popup_edit_attendence");

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}




</script>


<!-- <script type="text/javascript">

// Show Change cover popup javascript
$(function() 
{
	
	var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

	$("a[data-modal-id]").click(function(e) {		

		e.preventDefault();
		$("#container").append(appendthis);

		$(".modal-overlay").fadeTo(500, 0.7);
		//$(".js-modalbox").fadeIn(500);
		var modalBox = $(this).attr('data-modal-id');
		var user = $(this).attr('data-user-id');
		

		$("#" + modalBox).fadeIn($(this).data());

		 $.ajax({
		    type:'GET',
		    url:'/popup_edit_punch',
		    data: { user_id: user },
    		success: function (result) {
		        //do somthing here
		        window.alert("employees ,success!!");
		     },
		     error: function (){
		        window.alert("employees ,something wrong!");
		     }
  		});
		
	});

	$(".js-modal-close, .modal-overlay").click(function() {
		$(".modal-box, .modal-overlay").fadeOut(200, function() {
			$(".modal-overlay").remove();
		});
	});

	$(window).resize(function() {
		$(".modal-box").css({
			top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
			left: ($(window).width() - $(".modal-box").outerWidth()) / 2
		});
	});

	$(window).resize();

});
</script> -->
