<div id="content">


<section class="statistics">
          <div class="container-fluid">
            <div class="row-fluid" style="align-items: center;">
              <div class="span4">
                <div class="box">
                  <i class="fa fa-envelope fa-fw btn-primary"></i>
                  <div class="info">
                    <h3><%= @request_pending %></h3> <span>Request</span>
                    <p>Leave Request Pending </p>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box">
                  <i class="fa fa-file fa-fw btn-danger"></i>
                  <div class="info">
                    <h3><%= @employe_leaves.present? ? @employe_leaves.to_i : 0 %>  </h3> <span> Leaves</span>
                    <p>Total leaves taken</p>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box">
                  <i class="fa fa-clock-o fa-fw btn-success"></i>
                  <div class="info">
                    
                    <h3><%= @avrg %></h3> <span></span>
                    <p>Average Working Hours</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


	<div class="container-fluid">

    <div class="row-fluid">



<div class="span6">
<div class="widget-box">

<center><h3></h3></center>

<div class="card_design">

<div class="card text-center">
  <div class="card-header bg_lb head_cards">
    Mark Attendance
  </div>
  <div class="card-body">
    <!--<h3 class="card-title"><%#= Time.now.strftime("%I : %M : %S") %></h3>
    <h3 class="card-title"><canvas id="canvas" width="200" height="200"
style="background-color:#fff">
</canvas></h3>-->

<h3 class="card-title"> <div id="MyClockDisplay" class="clock" onload="showTime()"></div> </h3>
   
    <div class="punch_button">
<% if  @all_attendance.present?   %>
    <span class="btn btn-large btn-danger disabled btn_punched">
    <strong> Punch In at</strong> <p> <%= @all_attendance.punch_in.strftime("%I : %M  %P") %></p></span>
    <%#= button_tag 'Punch In at <br/><br/>'.html_safe + @all_attendance.punch_in.strftime("%I : %M  %P") , type: 'button', disabled: true, class: "btn btn-large btn-danger" %>

        <% if  @all_attendance.present? &&  @all_attendance.punch_out.present?  %>
        <span class="btn btn-large btn-danger disabled btn_punched">
    <strong> Punch Out at</strong> <p> <%= @all_attendance.punch_out.strftime("%I : %M  %P") %></p></span>
        <% else %>
         <%= button_to "Punch Out", punch_attendance_path, params: { "punch_out" =>  true }, :id => "open-contacts-dialog-btn",
              :class => "btn btn-large btn-danger", :method => :post %>
         <% end %>        
<% else %>
    <%= button_to "Punch In", punch_attendance_path, params: { "punch_in" =>  true },:id => "open-contacts-dialog-btn",
      :class => "btn btn-large btn-danger", :method => :post %>
<% end %>


  </div>
  </div>
  <div class="card-footer bg_lb head_cards">
    <%= DateTime.now.strftime("%A ") %>
  </div>
</div>
</div>





</div>
</div>

<div class="span6">

<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>General Holdays</h5>
          </div>
          <div class="widget-content nopadding">
          	<section class="statistics">
          		<div class="container-fluid">
            <center><button type="button" class="btn btn-primary center padd_5" data-toggle="modal" data-target="#holidaymodal">
    <i class="icon-plus"></i> Add New Holiday
    </button></center>

           <% @general_holidays.each do |dd| %> 	
           <div class="row-fluid">
           	<div class="span2"></div>

            <div class="span8 holiday_general">
                <div class="box bg_lblue">
                  <div class="span4 dated_general"><h3><%= dd.date.strftime("%b  %d") %></h3><p></p><%= dd.date.strftime("%A ") %></div>
                  <div class="span8 dated_occasion"><h4><%= dd.occasion.capitalize %></h4></div>
                </div>
              </div>

           	<div class="span2"></div>
           </div>
        <% end %>

          
      </div>
      </section>

          </div>
   </div>



</div>



    </div>
</div>

<div class="modal" id="holidaymodal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title center">Add New Holiday</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <%= form_tag({ action: "add_new_holiday"}, class: 'form-horizontal' , method: "post") do  %>

<div class="control-group">
                  <label class="control-label">Date</label>
                  <div class="controls">
                    <input type="date" name="holiday_date" >
                    
                  </div>
                </div>

<div class="control-group">
                  <label class="control-label">Occasion Name</label>
                  <div class="controls">
                   <input type="text" name="occasion_name">

                    
                  </div>
                </div>

<div class="form-actions">
               

               <button type="submit" class="btn btn-primary">Submit</button> 
                <%#= f.submit "Submit",:class=> 'btn btn-primary' %>
               
              </div>




<% end %>
        </div>
        
        <!-- Modal footer -->
        
        
      </div>
    </div>






</div>



<script type="text/javascript">
	
var modal = document.getElementById("holidaymodal");
 var span = document.getElementsByClassName("close")[0];
$('#holidaymodal').hide();
 span.onclick = function() {
   modal.style.display = "none";
 }


</script>