
<%# @today_attendence = DailyAttendance.find_by(:user_id => @popup_edit_punch_user.id, created_at: Date.today.all_day) %>
<%# byebug %>
<%= form_tag popup_update_punch_path,remote: true do %>
	

	<div class="span6">
		<div class="widget-boxxx">
			<div class="widget-content">
				

				<div class="todo">
					
					<input type="hidden" id="popup_edit_punch_user" name="edit_user_punch" 
	  value=<%=params[:user_id]%>>

					<div class="about">
						
							<span>
								<label for="input-time">Punch In Time: </label>
								
									<input type="time" name="punch_in" id="input-punch_In-time" 
								value=
								<%= @all_attendance ? @all_attendance.punch_in ? @all_attendance.punch_in.strftime("%I:%M %P") : '' : ''
								%> >
							</span>
							
					
					</div><br> 
									
					<div class="about">
						
							<span>
								<label for="input-time">Punch Out Time: </label>
								<input type="time" min="09:00:00" name="punch_out" id="input-punch_out-time" value= 
								<%= @all_attendance ? @all_attendance.punch_out ? @all_attendance.punch_out.strftime("%I:%M %P") : '' : '' %>
								>
							</span>
							
					
					</div><br> 

					<div class="about">
						
							<span>
								<label for="input-time">Status: </label>
								<%=select_tag "mySelectStatus", options_from_collection_for_select(@attendance_status,
								 'id', "status", @all_attendance ? @all_attendance.master_attendance_status_id ? @all_attendance.master_attendance_status_id : '' : '' )%>
									
								
							</span>
							
						
					</div><br> 
					
				</div>
				<button class="btn btn-primary " type="submit">Update</button>
			</div>
		</div>

	</div>



	

<% end %>

