<div class="container">
  	<div id="content">
    	<div id="content-header">
      		<h1>Edit Profile</h1>
    	</div>
    	<hr>
    	<div class="row-fluid">
    		<div class="span12">
    			<div class="widget-box">
    				<div class="widget-title"> 
            			<span class="icon"> <i class="icon-align-justify"></i> </span>
            			<h5>Account Setting</h5>
            		</div>

            		<div class="widget-content nopadding">

            			 	<%= form_for(@user, :as => :user, :url => update_user_path(@user),html: { class: 'form-horizontal',method: :put }  ) do |f| %>

            			 		<!-- email admin choice-->
					              	<div class="control-group">
						                <%= f.label :email, class: "control-label" %>
						                <div class="controls">
						                  <%= f.email_field :email, autofocus: true, autocomplete: "email",
						                  disabled: "disabled",class: "span11" %>                
						                </div>
					              	</div>

					              <!-- Username usr choice-->
					              	<div class="control-group">
					                	<%= f.label 'Username',  class: "control-label" %>
					                	<div class="controls">

					                		<%if @user_role.master_role_id == 1 %>
					                			<%= f.text_field :name , class: "span11",disabled: "disabled",placeholder: "Username" , required: true %>
					                  			
					                  		<%else%>
					                  			<%= f.text_field :name , class: "span11",placeholder: "Username" , required: true %>
					                  		<%end%>
					                  				
					                	</div>
					              	</div>

					               <!-- PassWord Usr Choice -->
					              	<div class="control-group">

					                	<%= f.label :password, class: "control-label" %> 



					                	<div class="controls">
					                		<%if @user_role.master_role_id == 1 %>
					                			<%= f.password_field :password,placeholder: "Enter Password", autocomplete: "new-password",id: 'user_password' ,disabled: "disabled",class: "span11"%>
					                		<%else%>
					                			<%= f.password_field :password,placeholder: "Enter Password", autocomplete: "new-password",id: 'user_password' ,class: "span11"%>
					                		<%end%>
					                  	 	
					                  	</div>
					              	</div>

					              <!-- Confirm Password Choice -->
					              	<div class="control-group">
					                	<%= f.label :password_confirmation, class: "control-label"  %>
					                	<div class="controls">
					                		<%if @user_role.master_role_id == 1 %>
					                  			<%= f.password_field :password,placeholder: "Confirm Password", autocomplete: "new-password",disabled: "disabled", id: 'confirm_password' ,class: "span11" %>
					                  		<%else%>
					                  			<%= f.password_field :password,placeholder: "Confirm Password", autocomplete: "new-password", id: 'confirm_password' ,class: "span11" %>
					                  		<%end%>
					                	</div>
					              	</div>
            		</div>

            		<div class="widget-title"> 
                		<span class="icon"> <i class="icon-align-justify"></i> </span>
                		<h5>Profile Setting</h5>
          			</div>

          			<div class="row-fluid">
            
			            <div class="span8">            
			              <div class="widget-content nopadding">
			                  	<div class="form-horizontal">

			                      <!-- First Name -->
				                    <div class="control-group">
				                      <%= f.label 'First Name :', class: "control-label"  %>
				                      <div class="controls">
				                      	<%if @user_role.master_role_id == 1 %>
				                        	<%= f.text_field :first_name, class: "span11" ,required: true,disabled: 'disabled'%>
				                        <%else%>
				                        	<%= f.text_field :first_name, class: "span11" ,required: true%>
				                        <%end%>
				                      </div>
				                    </div>

				                    <!-- Last Name -->
				                    <div class="control-group">
				                      <%= f.label 'Last Name', class: "control-label"  %>
				                      <div class="controls">
				                      	<%if @user_role.master_role_id == 1 %>
				                        	<%= f.text_field :last_name, class: "span11", required: true,disabled: 'disabled' %>
				                        <%else%>
				                        	<%= f.text_field :last_name, class: "span11", required: true %>
				                        <%end%>

				                      </div>
				                    </div>


				                    <!-- Gender -->
				                    <%if @user_role.master_role_id != 1 %>
					                    <div class= "form-group">
					                    
					                      <%= f.label :gender ,class: 'control-label'%>
					                      <div class="controls">
					                          <label>
					                            <input type="radio" checked="checked" value="true" name="user[gender]" id="user_gender_true">
					                            Male
					                          </label>
					                          <label>
					                            <input type="radio" value="false" name="user[gender]" id="user_gender_false">
					                            Female
					                          </label>
					                      </div>
					                    </div>
					                <%end%>

				                      <!--Designation For Admin -->
				                    <%if @user_role.master_role_id == 1 %>
				                          <div class= "form-group">
				                            <%= f.label "Designation",class: "control-label" %>
				                            <div class="controls">
				                              <%= f.select( :designation_id,  @designation.collect { |designation| [designation.name, designation.id] }) %>
				                            </div>
				                          </div>
				                    <%else%>
				                          <div class= "form-group">
				                            <%= f.label 'Desigation',  class: "col-sm-2" %>
				                            <%= f.text_field :designation_id , class: "col-sm-5"%>
				                          </div>
				                    <%end%>

				                    <!--Department For Admin -->
				                    <%if @user_role.master_role_id == 1 %>
				                          <div class= "form-group">
				                            <%= f.label "Department",class: "control-label" %>
				                            <div class="controls">
				                              <%= f.select( :department_id,  @department.collect { |department| [department.department_name, department.id] }) %>
				                            </div>
				                          </div>
				                    <%else%>
				                          <div class= "form-group">
				                            <%= f.label 'Desigation',  class: "control-label" %>
				                            <%= f.text_field :designation_id, disabled: "" , class: "span11"%>
				                          </div>
				                    <%end%>
			                  	</div>
			              </div>  
			            </div>

			            <%if @user_role.master_role_id != 1 %>
					            <div class="span4">
					              <div class="widget-content nopadding">

					               		<%= image_tag(@user.image_url.to_s, class: 'avatar-preview') %>
						               
							               <div class="control-group">
							                  <div class="controls">   
							                      <%= f.file_field :image %>
							                  </div>
							               </div>
							            
					              </div>
					            </div>                         
			            <%end%>
		          	</div>

          			
		          	<div class="widget-content nopadding">
              			<div class="form-horizontal">
              				<div class="control-group">
			                    <%= f.label :current_password,id: 'current_password',  class: "control-label" %>
			                    <div class="controls">
			                      <%= f.password_field :current_password, autocomplete: "current-password" , class: "span11",required: true %>
			                    </div>
                  			</div>
                  			<div class="form-actions">
			                    <%= f.submit "Update",class: "btn btn-success" %>
			                </div>
			                <div>
			                    <%= link_to 'Home' , root_path  %>
			                </div>
              			</div>
              		</div>
              		<%end %>
    			</div>
    		</div>
    		
    	</div>
 	</div>
 </div>