<div class="container22">
	<div id="content">
		<div id="content-header">
			<div class="row-fluid">
				<div class="span6">
					<h1>Add new Employe</h1>
				</div>
			</div>
		</div>
		<hr>
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- Create User Table Span -->
				<div class="span3"></div>
				<div class="span6">
					<div class="widget-box">
						<div class="widget-content ">

						<%= form_for(@user, :as => :user, :url => add_new_employee_path,html: { class: 'form-horizontal',method: :post }  ) do |f| %>

								<div class="control-group">
  									<%= f.label "Employee id", class: "control-label" %>
  									<div class="controls">
						            	<%= f.text_field :employee_id, autofocus: true,class: "span11",required: 'true' %>
						        	</div>
  								</div>

  								<div class="control-group">
  									<%= f.label "Name", class: "control-label" %>
  									<div class="controls">
						            	<%= f.text_field :first_name, autofocus: true, class: "span11",required: 'true' %>
						        	</div>
  								</div>
  								<div class="control-group">
  									<%= f.label :email, class: "control-label" %>
  									<div class="controls">
						            	<%= f.email_field :email, autofocus: true, autocomplete: "email",class: "span11",required: 'true' %>
						        	</div>
  								</div>


  								<div class="control-group">
  									<%= f.label "Gender", class: "control-label" %>
  									<div class="controls">
						            	<%= f.radio_button :gender, true, :checked => true %> Male
						            	<%= f.radio_button :gender, false %> Female
						        	</div>
  								</div>




  								<div class= "control-group">
                            		<%= f.label "Designation",class: "control-label" %>
                            		<div class="controls">
                              			<%= f.select( :designation_id,  @designation.collect { |designation| [designation.designation_name, designation.id] }) %>
                            		</div>
                          		</div>

                          		<div class= "control-group">
                            		<%= f.label "Department",class: "control-label" %>
                            		<div class="controls">
                              			<%= f.select( :department_id,  @department.collect { |department| [department.department_name, department.id] }) %>
                            		</div>
                          		</div>

                          		<div class= "control-group">
                            		<%= f.label "Role",class: "control-label" %>
                            		<div class="controls">
                              			<%= f.select(:id, @role.collect { |role| [role.role_name, role.id] }) %>
                            		</div>
                          		</div>

							  	<div class="actions center">
							    	<%= f.submit "Submit" ,:class=> "btn btn-primary" %>
							  	</div><br>
							<% end %>
						</div>
					</div>
				</div>
				<div class="span3"></div>
			</div>
		</div>
	</div>
</div>
