<div class="container22">
  <div id="content">

    <section class="statistics">
          <div class="container-fluid">
            <div class="row-fluid" style="align-items: center;">
              <div class="span4">
                <div class="box">
                  <i class="fa fa-envelope fa-fw btn-primary"></i>
                  <div class="info">
                    <h3>1</h3> <span>Request</span>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box">
                  <i class="fa fa-file fa-fw btn-danger"></i>
                  <div class="info">
                    <h3><%= @leaves_taken.to_i %>  </h3> <span> Leaves</span>
                    <p>Total leaves taken</p>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box">
                  <i class="fa fa-clock-o fa-fw btn-success"></i>
                  <div class="info">
                    <h3><div class="avrg_hours"><%= @avrg %></div></h3>
                    <p>Average Working Hours</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>

    <div class="container-fluid">
    <hr>
    <div class="select_month">
      <label for="cars">Select month:</label>
        <input type="hidden" name="user_param" id="employe_uid" value= "<%= params[:id] %>">     
        <%= select_month(Date.today,{:add_month_numbers => false},:onchange=>"employe_attendanceFunction()") %>
    </div>

    <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
              <h5>Monthly Attendance</h5>
            </div>
            <div class="widget-content nopadding filtered_attendance">
              <%= render partial: 'attendance_monthly' %>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>


 <div class="modal" id="edit_employe_attendance" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body punch_edit_popup ">
         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>



</div>
<script type="text/javascript">
  

var modal = document.getElementById("edit_employe_attendance");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>

<script type="text/javascript">

  
function employe_attendanceFunction() { 
  var selected_month = document.getElementById("date_month").value;
  var user_id = document.getElementById("employe_uid").value;
  //document.getElementById("demo").innerHTML = "You selected: " + x;
  //alert(user_id);

 $.ajax({
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type:'post',
              dataType:'script',
              async: true,
              url: '/monthly_attendance',
              data: {month: selected_month,id: user_id}


            });


}




</script>


