<div id="content">

<div class="container-fluid">
  <div class="row-fluid">

<% @login_users.each do |tt| %> 
<div class="card span3 user_block">
  <% if tt.user.image.present? %>
   <%= image_tag( tt.user.image.url, class: "user_pic_all" ) %>
   <% else %>
  <img src=" <%= tt.user.gender == true ? 'assets/img_avatar.png' : 'assets/img_avatar2.png'  %> " alt="Avatar" >
  <% end %>
  
    <div class="team-prof">
<h3 class="post-title"><%= link_to tt.user.first_name.capitalize, show_path(tt.user_id) %></h3>
<span class="post"><%= tt.user.designation.designation_name %></span>
</div>


   <%#= tt.department.department_name %>
    <p class="user_online"><i class="fa fa-circle present " aria-hidden="true"></i></i></p>
  
</div>

<% end %>
<% @offline_users.each do |tt| %> 
<div class="card span3 user_block">
  <% if tt.image.present? %>
   <%= image_tag( tt.image.url, class: "user_pic_all" ) %>
   <% else %>
  <img src="<%= tt.gender == true ? 'assets/img_avatar.png' : 'assets/img_avatar2.png'  %>" alt="Avatar" >
  <% end %>
  
    <div class="team-prof">
<h3 class="post-title"><%= link_to tt.first_name.capitalize, show_path(tt.id) %></h3>
<span class="post"><%= tt.designation.designation_name %></span>
</div>


   <%#= tt.department.department_name %>
    <p class="user_online"><i class="fa fa-circle  " aria-hidden="true"></i></i></p>
  
</div>

<% end %>

</div>


</div>





</div>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px;
}

.container_new {
  padding: 2px 16px;
}
</style>