<div id="content">

        <div id="content-header">
          <div class="row-fluid">
            <div class="span6">
              <h1>User Profile</h1>
            </div>
            <div class="span6">


              <button id="myBtn" class="edit_bttn"><%= '<i class="fa fa-user-plus item"></i>
                <div class="edit_current_user item">Edit Profile</div>'.html_safe %></button>
              <!-- <a class="user_button" href=""> -->
                <%#= link_to '<i class="fa fa-user-plus item"></i>
                <div class="edit_current_user item">Edit Profile</div>'.html_safe,edit_current_user_path,class: 'user_button', remote: true %>            
                <!-- </a> -->
            </div>
          </div>
          <hr>
        </div>


        <div class="container-fluid">
            <div class="row-fluid">

        <div class="span6">
          
        <div class="widget-box">
                  
                  <div class="widget-content nopadding2 user_prof">
                   <div class="row-fluid">

        <div class="span6">
                        <div class="user-thumb33" style="display: inline-block;"> 
                          <% if @user.image.present? %>
                          <%= image_tag( @user.image.url, class: "user_pic" ) %>
                          <% else %>
                          <img width="240" height="240" alt="User" src="<%= @user.gender == true ? '/assets/author-main1.jpg' : '/assets/author_girl.png' %>"> 
                          <% end %>
                          </div>
        </div>

                   <div class="span6">     
                        <p><strong>Name: </strong>  <span><%= current_user.first_name.capitalize%></span></p>
                        <p><strong>Email: </strong>  <span><%= current_user.email.capitalize%></span></p>
                       
        </div>
         </div>          
                  
                  </div>
                </div>



        </div>

        <div class="span6">
                      <div class="widget-box">
                    <div class="widget-title"> 
                      <span class="icon"><i class="icon-ok"></i></span>
                      <h5>Current Position</h5>
                      
                    </div>
                    <div class="widget-content nopadding2 user_prof">
                   
                       
                         <p><strong>Designation: </strong><span><%= @user.designation.designation_name %></span></p>
                        <p><strong>Department: </strong><span><%= @user.department.department_name %></span></p>
                       


                   
                  
                  </div>
                  </div>
                            </div>



                      
                    <div class="span6">
                    <div class="widget-box">
                    <div class="widget-title"> 
                    <span class="icon"><i class="icon-ok"></i></span>
                    <h5>Personal Infomation</h5>
  
                    </div>
                    <div class="widget-content nopadding2 user_prof">
                    <p><strong>Birthday: </strong> <span><%= @user.date_of_birth %></span></p>
                      <p><strong>Gender: </strong><span><%= @user.gender == true ? 'Male' : 'Female' %></span></p>

                      <p><strong>Mobile: </strong>  <span><%= '12345678' %></span></p>
                      <p><strong>Instagram: </strong> <span><%= @user.facebook %></span></p>
                      <p><strong>Facebook: </strong><span><%= @user.instagram %></span></p>






                        </div>
                      </div>
                    </div>
                     

       </div>
       </div>                     


       <!--  <div class="span6">
                      <div class="widget-box">
                    <div class="widget-title"> 
                      <span class="icon"><i class="icon-ok"></i></span>
                      <h5>Contact Infomation</h5>
                      
                    </div>
                    <div class="widget-content nopadding2 user_prof">
                   
                       <p><strong>Email: </strong> <span><%#= current_user.email%></span></p>
                        <p><strong>Mobile: </strong>  <span><%#= 12345678 %></span></p>
                        <p><strong>Instagram: </strong> <span><%#= @user.facebook %></span></p>
                        <p><strong>Facebook: </strong><span><%#= @user.instagram %></span></p>
                        
                       
                   
                  
                  </div>
                  </div>
                            </div> -->


                  





<div id="myModal" class="modal" style="display: none;">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="widget-box_pop">
          <div class="widget-title"> <span class="icon"> <i class="icon-pencil"></i> </span>
            <h5>Edit Profile</h5>
          </div>
          <div class="widget-content nopadding">
                <%= form_for( @edit_current_user, :url => {:action => "edit_current_user"}, :method=> 'post' ,:html => {'class' => 'form-horizontal'}) do |f| %>
               
              <div id="form-wizard-1" class="step">
                <div class="control-group">
                  <label class="control-label">First Name</label>
                  <div class="controls">
                    <%= f.text_field :first_name, autofocus: true, class: "" ,required: 'true'%>
                  </div>
                </div>
                    <div class="control-group">
                        <label class="control-label">Last Name</label>
                        <div class="controls">
                           <%= f.text_field :last_name, autofocus: true, class: "",required: 'true' %>
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">Gender</label>
                        <div class="controls">
                         <%= f.radio_button :gender, true, :checked => true %> Male
                          <%= f.radio_button :gender, false %> Female

                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">Phone No.</label>
                        <div class="controls">
                          <input type="text" name="phone_no" id="datepicker"/> 
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">Date of Birth</label>
                        <div class="controls">
                           <%= f.date_field :date_of_birth, autofocus: true, class: "" %>
                         
                          
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">Profile Photo</label>
                        <div class="controls">
                          <%= f.fields_for :users do |p| %>
                                 <%= p.file_field :image, name: "user[image]" %>
                          <% end %>
                          
                          
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label">Facebook </label>
                        <div class="controls">
                         <%= f.text_field :facebook, autofocus: true, class: "" %>
                          
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Instagram</label>
                        <div class="controls">
                          <%= f.text_field :instagram, autofocus: true, class: "" %>
                          
                        </div>
                      </div>
                <!-- <div class="control-group">
                  <label class="control-label">Profile Image</label>
                  <div class="controls">
                      <input id="photo" type="file" name="profile_pic" />
                  </div>
                </div> -->

              </div>
              
                  <div class="form-actions">
                   
                    <%= f.submit "Submit",:class=> 'btn btn-primary' %>
                   
                  </div>

              
            <% end %>

         </div>     
          </div>
        </div>
  </div>


      
      
  </div>
</div>

<script type="text/javascript">

// Show Change cover popup javascript
$(function() 
{

  var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

  $("a[data-modal-id]").click(function(e) {

    

    e.preventDefault();
    $("#content").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $("#" + modalBox).fadeIn($(this).data());
    
  });

  $(".js-modal-close, .modal-overlay").click(function() {
    $(".modal-box, .modal-overlay").fadeOut(200, function() {
      $(".modal-overlay").remove();
    });
  });

  $(window).resize(function() {
    $(".modal-box").css({
      top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
      left: ($(window).width() - $(".modal-box").outerWidth()) / 2
    });
  });

  $(window).resize();

});

//Open popup for edit profile


// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
