
<div class="container">
  <div id="content">
    <div id="content-header">
      <h1>Edit <%= resource_name.to_s.humanize %></h1>
    </div>
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Account Setting</h5>
          </div>
          <div class="widget-content nopadding">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: 'form-horizontal',method: :put }) do |f| %>

              <!-- email -->
              <div class="control-group">
                <%= f.label :email, class: "control-label" %>
                <div class="controls">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",
                  disabled: "disabled",class: "span11" %>                
                </div>
              </div>

              <%= render "devise/shared/error_messages", resource: resource %>

              <!-- Username -->
              <div class="control-group">
                <%= f.label 'Username',  class: "control-label" %>          
                <div class="controls">
                  <%= f.text_field :name , class: "span11",placeholder: "Username" , required: true%>
                  
                </div>
              </div>

              <!-- PassWord -->
              <div class="control-group">
                <%= f.label :password, class: "control-label" %> 
                
                <div class="controls">
                   <%= f.password_field :password,placeholder: "Enter Password", autocomplete: "new-password",id: 'user_password' ,class: 
              "span11"%>
                  </div>
              </div>

              <!-- Confirm Password -->
              <div class="control-group">
                <%= f.label :password_confirmation, class: "control-label"  %>
                
                <div class="controls">
                  <%= f.password_field :password,placeholder: "Confirm Password", autocomplete: "new-password", id: 'confirm_password' ,class: "span11" %>
                </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
          </div>

          <div class="widget-title"> 
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Profile Setting</h5>
          </div>
          <!-- Profile setting -->
          <div class="row-fluid">
            
            <div class="span8">            
              <div class="widget-content nopadding">
                  <div class="form-horizontal">

                      <!-- First Name -->
                    <div class="control-group">
                      <%= f.label 'First Name :', class: "control-label"  %>
                      <div class="controls">
                        <%= f.text_field :first_name, class: "span11" ,required: true%>
                      </div>
                    </div>

                    <!-- Last Name -->
                    <div class="control-group">
                      <%= f.label 'Last Name', class: "control-label"  %>
                      <div class="controls">
                        <%= f.text_field :last_name, class: "span11", required: true %>
                      </div>
                    </div>


                    <!-- Gender -->
                    <div class= "form-group">
                    
                      <%= f.label :gender ,class: 'control-label'%>
                      <div class="controls">
                          <label>
                            <input type="radio" checked="checked" value="true" name="user[gender]" id="user_gender_true">
                            Male
                          </label>
                          <label>
                            <input type="radio" value="false" name="user[gender]" id="user_gender_false">
                            Female
                          </label>
                      </div>
                    </div>

                      <!--Designation For Admin -->
                    <%if @user_role.master_role_id == 1 %>
                          <div class= "form-group">
                            <%= f.label "Designation",class: "control-label" %>
                            <div class="controls">
                              <%= f.select( :designation_id,  @designation.collect { |designation| [designation.name, designation.id] }) %>
                            </div>
                          </div>
                    <%else%>
                          <div class= "form-group">
                            <%= f.label 'Desigation',  class: "col-sm-2" %>
                            <%= f.text_field :designation_id , class: "col-sm-5"%>
                          </div>
                    <%end%>

                    <!--Department For Admin -->
                    <%if @user_role.master_role_id == 1 %>
                          <div class= "form-group">
                            <%= f.label "Department",class: "control-label" %>
                            <div class="controls">
                              <%= f.select( :department_id,  @department.collect { |department| [department.department_name, department.id] }) %>
                            </div>
                          </div>
                    <%else%>
                          <div class= "form-group">
                            <%= f.label 'Desigation',  class: "control-label" %>
                            <%= f.text_field :designation_id, disabled: "" , class: "span11"%>
                          </div>
                    <%end%>
                  </div>
              </div>  
            </div>
            <div class="span4">
              <div class="widget-content nopadding">
               <%= image_tag(resource.image_url.to_s, class: 'avatar-preview') %>

                <div class="control-group">
                    <label class="control-label">File upload input</label>
                    <div class="controls">   
                       <%= f.file_field :image %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
            
            
          


          <!-- Contact setting -->
          
            <div class="widget-title"> 
              <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>Contact Setting</h5>
            </div>

            <div class="widget-content nopadding">
              <div class="form-horizontal">
                    <!-- Instagram Name -->
                  <div class="control-group">
                    <%= f.label 'Instagram :', class: "control-label"  %>
                    <div class="controls">
                      <%= f.text_field :instagram, class: "span11" %>
                    </div>
                  </div>

                  <!-- Facebook Name -->
                  <div class="control-group">
                    <%= f.label 'Facebook', class: "control-label"  %>
                    <div class="controls">
                      <%= f.text_field :facebook, class: "span11" %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= f.label :current_password,id: 'current_password',  class: "control-label" %>
                    <div class="controls">
                      <%= f.password_field :current_password, autocomplete: "current-password" , class: "span11",required: true %>
                    </div>
                  </div>

                  <div class="form-actions">
                    <%= f.submit "Update",class: "btn btn-success" %>
                  </div>
              </div>                  
            </div>

          
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#user_designation_id').select2();
    $('#user_department_id').select2();
  });


</script>



